In [1]:
import numpy as np
import pandas as pd


import otter
grader = otter.Notebook()

## Lab 4: Keep going in `pandas`

This lab is for more practice using `pandas`. Below are some functions you may find useful for these exercises. 

[pd.Series.value_counts](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html)

[pd.DataFrame.groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)

[pd.crosstab](https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html)

[pd.DataFrame.sort_values](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)

We will be summarizing and manipulating information coming from a history of weather conditions.

In [2]:
weather = pd.read_csv("weatherHistory.csv")
weather.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

#### Question 1

Subset the weather data for just the `Summary`, `Temperature (C)` and `Humidity` columns.

In [3]:
weather_sub = weather [['Summary', 'Temperature (C)', 'Humidity']]

In [4]:
grader.check("q1_1")

q1_1 results: All test cases passed!

#### Question 2

How many total days in the data were "Clear"?

In [5]:
clear_days = weather_sub['Summary'].value_counts().iloc[3]
clear_days

10890

In [6]:
grader.check("q1_2")

q1_2 results: All test cases passed!

#### Question 3

Which 5 weather conditions ("Summary") had the highest average temperature? Return the answer as a 5 element array.

In [7]:
highest = weather_sub.groupby('Summary')['Temperature (C)'].mean().sort_values(ascending=False).head(5)
hottest_conditions = highest.index.to_numpy()
hottest_conditions

array(['Dry', 'Windy and Dry', 'Dry and Mostly Cloudy',
       'Dry and Partly Cloudy', 'Humid and Partly Cloudy'], dtype=object)

In [8]:
grader.check("q1_3")

q1_3 results: All test cases passed!

#### Question 4

Which 5 weather conditions ("Summary") had the highest average humidity? Return the answer as a 5 element array.

In [9]:
humid_conditions =  weather_sub.groupby('Summary').mean('Humidity').sort_values('Humidity', ascending=False).head(5).index.to_numpy()
humid_conditions

array(['Foggy', 'Rain', 'Breezy and Foggy', 'Windy and Foggy',
       'Light Rain'], dtype=object)

In [10]:
grader.check("q1_4")

q1_4 results: All test cases passed!

#### Question 5

Add a new column to weather called `Temperature (F)` which represents the temperature in Celsius converted to Fahrenheit.

$F = C*1.8 + 32$

In [11]:
weather["Temperature (F)"] = (weather ['Temperature (C)'] * 1.8 + 32)
weather

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Temperature (F)
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,49.05
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,48.84
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,48.88
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,46.92
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,47.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.,78.83
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.,76.25
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.,71.67
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.,70.74
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.,68.79

In [12]:
grader.check("q1_5")

q1_5 results: All test cases passed!

#### Question 6

What is the difference in average temperature (F) between rain and snow `Precip Type`?

In [13]:
RS = weather[['Precip Type', 'Temperature (F)']].groupby('Precip Type').describe()
temp_diff = RS.iat[0, 1] - RS.iat[1, 1]
temp_diff

30.8229731810041

In [14]:
grader.check("q1_6")

q1_6 results: All test cases passed!

#### Question 7

What was the lowest temperature (F) recorded in the data in snow precipitation and foggy conditions.

In [15]:
lowest_temp = weather[(weather['Precip Type'] == 'snow') & (weather['Summary'] == 'Foggy')].sort_values('Temperature (F)').head(1).iat[0, 12]

lowest_temp

-7.280000000000001

In [16]:
grader.check("q1_7")

q1_7 results: All test cases passed!

#### Question 8

Create a cross-tabulation of precipitation type and weather type (Summary), returning the counts of each type of weather for each precipitation type.

In [17]:
precip_tab = pd.crosstab(weather ['Precip Type'], weather ['Summary'])
precip_tab

Summary,Breezy,Breezy and Dry,Breezy and Foggy,Breezy and Mostly Cloudy,Breezy and Overcast,Breezy and Partly Cloudy,Clear,Dangerously Windy and Partly Cloudy,Drizzle,Dry,...,Mostly Cloudy,Overcast,Partly Cloudy,Rain,Windy,Windy and Dry,Windy and Foggy,Windy and Mostly Cloudy,Windy and Overcast,Windy and Partly Cloudy
Precip Type,,,,,,,,,,,,,,,,,,,,,
rain,42,1,8,490,472,379,9371,1,39,34,...,26028,13916,29915,10,8,1,3,35,42,67
snow,12,0,27,26,56,7,1392,0,0,0,...,1886,2600,1720,0,0,0,1,0,3,0

In [18]:
grader.check("q1_8")

q1_8 results: All test cases passed!

#### Question 9

Which precipitation type (rain or snow), has the highest incidence of Overcast weather as a proportion of all their weather, and what is that proportion?

In [19]:
rain_overcast = 13916 / precip_tab.iloc[0].sum(axis=0)
print(rain_overcast)
snow_overcast =  2600 / precip_tab.iloc[1].sum(axis=0)
print(snow_overcast)

most_overcast = "snow"

0.16328733690040365
0.24271844660194175

In [20]:
grader.check("q1_9")

q1_9 results: All test cases passed!

#### Question 10

Pivot `weather_sub` such that humidity and temperature represent rows and values of summary are the columns.

[pd.DataFrame.pivot_table](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html)

In [21]:
weather_sub.head()

         Summary  Temperature (C)  Humidity
0  Partly Cloudy         9.472222      0.89
1  Partly Cloudy         9.355556      0.86
2  Mostly Cloudy         9.377778      0.89
3  Partly Cloudy         8.288889      0.83
4  Mostly Cloudy         8.755556      0.83

In [22]:
weather_sub_pivot = weather_sub.pivot_table(columns = 'Summary')
weather_sub_pivot

Summary,Breezy,Breezy and Dry,Breezy and Foggy,Breezy and Mostly Cloudy,Breezy and Overcast,Breezy and Partly Cloudy,Clear,Dangerously Windy and Partly Cloudy,Drizzle,Dry,...,Mostly Cloudy,Overcast,Partly Cloudy,Rain,Windy,Windy and Dry,Windy and Foggy,Windy and Mostly Cloudy,Windy and Overcast,Windy and Partly Cloudy
Humidity,0.637778,0.260000,0.938571,0.637054,0.763144,0.545803,0.729708,0.490000,0.867949,0.230294,...,0.725069,0.837232,0.648571,0.947000,0.572500,0.240000,0.900000,0.600000,0.708667,0.528806
Temperature (C),7.922016,21.111111,-0.510317,11.093411,7.241614,12.492761,11.925109,8.944444,10.847578,29.083660,...,12.629334,7.516502,16.024782,10.096111,6.804861,27.222222,11.876389,11.834603,7.932963,9.968076

In [23]:
grader.check("q1_10")

q1_10 results: All test cases passed!

Be sure to run the tests and verify that they all pass, then **Save** your changes, then **Download** your file to your host machine (if you are using jupyterhub), then submit your file to the Lab 4 **Canvas** assignment by 11:59pm on the due date.